.intro-sec {
  background-color: #41b0bf;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("./assets/images/clouds.png") repeat-x top;
  background-size: contain;
  .title {
    color: #ffffff;
    font-family: "Sacramento", cursive;
    font-size: 4em;
    font-weight: 500;
  }
  .typical-wrapper {
    color: #ffffff;
    font-size: 2em;
  }
}
@media (max-width: 1024px) {
  .intro-sec {
    background-color: #41b0bf !important;
  }
}
@media (max-width: 767px) {
  .intro-sec {
    background: #41b0bf !important;
    .plane {
      display: none;
    }
  }
}
