body {
  margin: 0;
  font-family: "ProximaNova";
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.txt {
  color: black;
}
.image-styles {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
